{% include "fragments/head.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>About</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat metus ut ipsum imperdiet gravida. Aenean molestie pulvinar nisi, id consequat quam auctor et. Vestibulum non eros porttitor, varius dui ut, vehicula elit. Nunc a augue eget urna placerat pulvinar at sed felis. Nullam malesuada, sem non lobortis molestie, est tortor maximus purus, non tincidunt risus ante sit amet nunc. Vivamus consectetur elit sit amet sollicitudin pellentesque. Nam non purus ac sem pellentesque fermentum. Nunc at ullamcorper mi. Phasellus quis fermentum nibh, at eleifend lacus. Aenean ante neque, bibendum sed enim at, molestie convallis urna.
            </p>
        </div>
    </div>
</div>
{% include "fragments/foot.html" %}