{% include "fragments/head.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>{{ product.name }}</h2>
            <div class="form-inline form">
                <div class="form-group">
                    <label>From</label>
                    <input type="text" value="{{ start }}" class="form-control" placeholder="Start date" id="from" pattern="\d{4}-\d{2]-\d{2}">
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input type="text" value="{{ end }}" class="form-control" placeholder="End date" id="to" pattern="\d{4}-\d{2]-\d{2}">
                </div>
                <button class="btn btn-danger" id="update">Update</button>
            </div>
            <p>
                The following scenes are available to download:
            </p>
            {% for dataset in data %}
                <div class="item">
                    <div class="item-left">*</div>
                    <div class="item-main">
                        <span class="item-main-title">{{ dataset.title }}</span><br />
                        <span class="item-main-property-label">startdate</span><span class="item-main-property-value">{{ moment(dataset.startdate).format('DD MMM YYYY') }}</span>
                        <span class="item-main-property-label">enddate</span><span class="item-main-property-value">{{ moment(dataset.enddate).format('DD MMM YYYY') }}</span>
                    </div>
                    <div class="item-right"><span class="item-right-download-type">Geotiff</span><br /><span>1 MB</span></div>
                    <div class="item-right"><a href="{{ dataset.location }}" class="btn btn-default">Download</a></div>
                </div>
            {% endfor %}            
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#update').click(function() {
            window.location = '/data/{{ product.id }}/' + $('#from').val() + '/' + $('#to').val();
        });
    })    
</script>
{% include "fragments/foot.html" %}