{% include "fragments/head.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Welcome to the Marine Earth Observation Applications Portal</h2>
            <p>
                From here you can download data from a number of products:
            </p>
            {% for key, product in products %}
            <a href="/data/{{ product.id }}">
                <div class="item">
                    <div class="item-left">*</div>
                    <div class="item-main"><span class="item-main-title">{{ product.name }}</span></div>
                    <div class="item-right">{{ product.files }} datasets </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% include "fragments/foot.html" %}
